<div class="root">

  <h2 class="title">About The MOCC</h2>
    
    <div class="about">
        The Creator's Catalogue will store a galore of art/media. The main goal of this website is to promote creativity and help artists gain recognition as well as reward.
        This enviroment will serve as a safe place for independent and non independent artists to display their talents. They will have the chance to upload their media and 
        auction their art to the rest of the Catalogue users.
    </div>

    <img class="picture" src="#insert diverse youth unification pic#" />

</div>
